.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
  
@media screen and (min-width: 768px) {
    .hero__title {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .hero__name {
        margin-right: 20px;
    } 
     
    .city-container {
        display: flex;
        align-items: center;
    }
    
    .city-info {
        flex: 1;
    }
    
    .city-info h2 {
        margin-bottom: 0;
    }
    
    .city-info p {
        margin-top: 0;
    }
    
    img {
        max-width: 100%;
        height: auto;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 30px;
    }
}

/* TO DO: Background image not showing using CSS but showing using html style tag */
/* .section-background {
    background-image: url('images/TableMountain.jpg');
    background-size: 100% 100%;
    background-position: center center;  
    display: flex; 
    justify-content: center; 
    align-items: center;
} */





  