.body{
    background-color: #023047;
    font-family:Arial, Helvetica, sans-serif;

}

.intro{
    background-color: #023047;

}

.which-city{
    background-color: #FFB703;

}

.foreign-lang{
    background-color: #FB8500;

}

.historic-places{
    background-color: #FFB703;
}

.footer{
    background-color: #219EBC;
}

.box {
    /* box-model */
    border: 5px solid;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;

    display: flex;
    flex-direction: column
    
   
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

@media screen and (min-width: 760px) {
    .hero-title {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .hero-name {
        margin-right: 20px;
    }

    .display{
        display: flex;
    }

    .display1{
        display: inline-flex;
    }



    .width{
        max-width: 50%;
    }
    
    .breadth{
        max-width: 50%;
    }

}     
